<div class="container min-vh-100">
  <div id="title" class="text-center">Post edit</span></div>

  <div class="row mt-4">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">

    <%= form_with model: @post, local: true do |f| %>
      <h4 class="label">Post image<span style="font-size: 16px;"> (５枚まで投稿できます)</span></h4>
      <%#= f.file_field :profile_images_images, class: 'img_field', style: 'display:none;' %>
      <%= f.attachment_field :post_images_images, multiple: true, onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev' %>
      <h4 class="label mt-5">Post text</h4>
      <%= f.text_area :caption, rows:'5', class: 'form-control captions' %>
      <% if @post.errors.include?(:caption) %>
        <p class="attention"><%= @post.errors.full_messages_for(:caption).first %>
      <% end %>

      <div class="mt-5 text-center">
        <%= f.submit 'UPDATE', class: "update-btn button" %>
      </div>
      <div class="text-right mt-5 pt-3">
        <%= link_to 'DESTROY', post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", id: "post-destroy-btn", class: "button" %>
      </div>
    <% end %>
    </div>
    <div class="col-lg-3"></div>

    </div>
    <div class="col-lg-3"></div>
  </div>
</div>







