<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <div id="title">Ranking</div>
    </div>
    <div class="col-lg-6"></div>
  </div>

  <% @ranking.each.with_index(1) do |post, i| %>
  <div class="row mt-5">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-2">
            <p id="ranking"><span><%= i %></span></p>
          </div>
          <!--<div class="col-lg-4 pt-4">-->
          <!--  <p><%#= post.favorites.count %>Favorites</p>-->
          <!--</div>-->
        </div>
    </div>
    <div class="col-lg-2"></div>
  </div>






  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-7">
      <div class="ranking">
        <div class="row">
          <div class="col-lg-1">
            <%= attachment_image_tag post.user, :image, :fill, 50, 50, fallback: "no_image.jpg", class: "user-image" %>
          </div>
          <div class="col-lg-6 mt-3">
            <%= link_to user_path(post.user.id), class: "user_name" do %>
              <%= post.user.user_name %>
            <% end %>

            <%# if post.user_id != current_user.id %>
              <p id="favorite_button_<%= post.id %>" class="rank-fav-icon">
                <%= render 'public/favorites/favorite', post: post %>
              </p>
            <%# end %>
              <p class="rank-comment-icon">
                <%= link_to post_path(post.id), id: "rank-comment-btn" do %>
                  <i class="far fa-comment fa-3x" style="color: #2a4073;"></i>
                  <span><%= post.comments.count %></span>
                <% end %>
              </p>
          </div>
        </div>
        <div class="row mt-3">
          <%= link_to post_path(post.id) do %>
            <p><%= attachment_image_tag post, :image, :fill, 500, 500 %></p>
          <% end %><br>
        </div>
        <div class="row">
          <p><%= post.caption %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <% end %>

</div>




