<h1>投稿詳細</h1>

<div class="post">

  <%= attachment_image_tag @post.user, :image, :fill, 50, 50, fallback: "no_image.jpg" %>
  <%= @post.user.user_name %>

  <% if @post.user_id != current_user.id %>
    <p id="favorite_button_<%= @post.id %>">
      <%= render 'public/favorites/favorite', post: @post %>
    </p>
  <% end %>




  <!--編集アイコン-->
  <% if @post.user_id == current_user.id %>
    <%= link_to edit_post_path(@post.id) do %>
    <i class="fas fa-edit"></i>
    <% end %>
  <% end %>

  <p><%= attachment_image_tag @post, :image, :fill, 500, 500 %></p>
  <h4>投稿文章</h4>
  <%= @post.caption %>


</div>

<div id="comment_button_<%= @post.id %>">

  <%= render 'public/comments/comment', post: @post %>

</div>

<div id="new-comment">

  <%= render 'public/comments/new_comment', {post: @post, comment: @comment} %>

</div>