<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <div id="title"><%= @post.user.user_name %><span>'s dog</span></div>
    </div>
    <div class="col-lg-6"></div>
  </div>

  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-7">

      <div class="post my-4">
        <%= attachment_image_tag @post.user, :image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60', class: "user-image mr-3 ml-4"%>
        <%= link_to user_path(@post.user.id) do %>
          <%= @post.user.user_name %>
        <% end %>

        <!--ログインユーザーなら編集ボタン、そうでなければお気に入りボタンを表示-->
        <% if @post.user_id == current_user.id %>
          <%= link_to edit_post_path(@post.id) do %>
            <i class="fas fa-edit show-icon fa-2x" style="color: #0f2350;"></i>
          <% end %>
        <% else %>
          <p id="favorite_button_<%= @post.id %>" class="show-icon">
            <%= render 'public/favorites/favorite', post: @post %>
          </p>
        <% end %>


        <div class="user-post my-3">
          <p><%= attachment_image_tag @post, :image, :fill, 500, 500 %></p>
        </div>
        <div></div>
        <div class="caption my-3">
          <%= render_with_hashtags(@post.caption) %>
        </div>

      </div>

      <div id="comment_button_<%= @post.id %>" class="mt-5 mb-3">
        <%= render 'public/comments/comment', post: @post %>
      </div>

      <div id="new-comment" class="mb-3">
        <%= render 'public/comments/new_comment', {post: @post, comment: @comment} %>
      </div>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>



