<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <div id="title">Search results</span></div>
    </div>
    <div class="col-lg-6"></div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">


      <% if @range == "User" %>
        <table class="table follow-table">
          <% @users.each do |user| %>
            <tr>
              <td></td>
              <td>
                <%= attachment_image_tag user, :image, :fill, 50, 50, fallback: "no_image.jpg", class: "user-image" %>
              </td>
              <td>
                <%= link_to user_path(user.id) do %>
                  <%= user.user_name %>
                <% end %>
              </td>
              <td>
                <div id="follow_button_<%= user.id %>">
                  <%= render 'public/relationships/follow_button', user: user %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <% @posts.each do |post|%>
          <div class="col-lg-4">
  
            <%= attachment_image_tag post.user, :image, :fill, 50, 50, fallback: "no_image.jpg", class: "user-image mr-3"%>
  
            <%= link_to user_path(post.user.id) do %>
              <%= post.user.user_name %>
            <% end %>
  
            <%= link_to post_path(post.id) do %>
              <p class="mt-3"><%= attachment_image_tag post, :image, :fill, 200, 200 %></p>
            <% end %>
  
            <h5>Caption</h5>
            <p class="mb-5"><%= post.caption %></p>
  
          </div>
        <% end %>
      <% end %>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>


