<div class="container min-vh-100">
  <div id="title" class="text-center">Chat room</span></div>

  <div class="row mt-1">
    <div class="col-lg-12 col-md-12 text-center">
      <div class="chat_box mx-auto">
        <%= render "chat", chats: @chats %>
      </div>
      <div class="col-lg-12 mx-auto mt-3">
        <%= form_with model: @chat, class: "text-form" do |f| %>
          <%= f.text_area :message, rows:'1',id: 'chat-text', class: 'form-control' %>
          <%= f.hidden_field :room_id, value: @room.id %>
          <%= f.hidden_field :user_id, value: @user.id %>
          <%= button_tag type: "submit", class: "chat-btn" do %>
            <i class="fas fa-paper-plane fa-2x" style="color: #2a4073;"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
