

<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div id="notifications">
  <%= link_to user_path(visitor) do %>
    <%= attachment_image_tag visitor, :image, :fill, 50, 50, fallback: "dogs-icon.jpg", size:'50x50', class: "user-image" %>
    <strong><%= visitor.user_name %></strong>
  <% end %>
  <span>さんが</span>



  <% case notification.action %>
  <% when 'follow' then %>
    <span>あなたをフォローしました</span>
  <% when 'like' then %>
    <%= link_to 'あなたの投稿', notification.post, id: "notification-link1" %>
    <span>にいいねしました</span>
  <% when 'comment' then %>
    <% if notification.post.user_id == visited.id %>
      <%= link_to 'あなたの投稿', notification.post, id: "notification-link2" %>
      <span>にコメントしました</span>
    <% else %>
      <%= link_to post_path(notification.post) do %>
        <%= attachment_image_tag visitor, :image, :fill, 50, 50, fallback: "dogs-icon.jpg", size:'50x50', class: "user-image" %>
      <% end %>
      <strong><%= notification.post.user.name %></strong><span>さんの投稿にコメントしました</span>
      <p class="notification-text"><%= Comment.find(notification.comment_id)&.comment %></p>
    <% end %>
  <% when 'chat' then %>
    <%= link_to 'チャットルーム', chat_path(notification.chat.room), id: "notification-link3" %>
    <span>にメッセージを送りました</span>
    <p class="notification-text"><%= Chat.find_by(id: notification.comment_id)&.message %></p>
  <% end %>
    <!--case = 対象オブジェクト = notificationのactionカラムの値を対象としている-->
    <!--when 'α' then = 'α'と一致する場合に行う処理-->

  <p class="notification-text"><%= time_ago_in_words(notification.created_at).upcase %></p>

</div>
