
<div class="search mt-4 mb-5 text-center">
  <%= render 'public/searches/user_search' %>
</div>




<table class="table follow-table">
<% users.each do |user| %>
  <tr>
    <td></td>
    <td>
      <%= attachment_image_tag user, :image, :fill, 50, 50, fallback: "no_image.jpg", size:'50x50', class: "user-image" %>
    </td>
    <td>
      <%= link_to user_path(user.id) do %>
        <%= user.user_name %>
      <% end %>
    </td>
    <td>
      <div id="follow_button_<%= user.id %>">
        <%= render 'public/relationships/follow_button', user: user %>
      </div>
    </td>
  </tr>
<% end %>
</table>
<div class="paginate">
  <%= paginate users %>
</div>





