<h1>お気に入り一覧</h1>

<%= form_with url: search_path, method: :get, local: :true do |f| %>
  <%= f.label :range, "User"%>
  <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
  <%= f.text_field :word %>
  <%= f.submit "検索" %>
<% end %>




<%= render 'public/posts/posts', posts: @favorites_list %>